[Unit]
Description=Edumeet
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/server
Environment="PATH=__ENV_PATH__"
ExecStart=__YNH_NODE__ start

[Install]
WantedBy=multi-user.target
